.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
  margin-top: 60px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

h1 {
  margin: 50px auto 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E
}

p {
  font-family: 'Merriweather', serif;
  font-style: oblique;
  font-size: 1.2rem;
  color: #40514E;
  text-align: center;
  line-height: 2;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

a {
  color: #11999E;
  margin: 40px;
  text-decoration: none;
}

.pro {
  text-decoration: underline;
  font-weight: normal;
}

.h2 {
  font-weight: normal;
}

.skill-row {
  margin: 150px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.skill-img1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-img2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

hr {
  color: #EAF6F6;
  border-style: none;
  border-top: dotted;
  border-width: 5px;
  width: 5%
}

.p1 {
  width: 30%;
  margin: auto;
}

.p1a {
  width: 50%;
  margin: 40px auto 60px;
}

.contact-me {
  line-height: 2;
}

.copyright {
  color: white;
}

.btn {
  -moz-box-shadow: inset 0 1px 0 0 #66bfbf;
  -webkit-box-shadow: inset 0 1px 0 0 #66bfbf;
  box-shadow: inset 0 1px 0 0 #66bfbf;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #66bfbf), color-stop(1, #66bfbf));
  background: -moz-linear-gradient(center top, #66bfbf 5%, #66bfbf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66bfbf', endColorstr='#66bfbf');
  background-color: #66bfbf;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-left-radius: 20px;
  text-indent: 4.3px;
  display: inline-block;
  color: #ffffff;
  font-family: Verdana;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  height: 65px;
  line-height: 65px;
  width: 143px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0 #66bfbf;
}

.btn: hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #66bfbf), color-stop(1, #66bfbf));
  background: -moz-linear-gradient(center top, #66bfbf 5%, #66bfbf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66bfbf', endColorstr='#66bfbf');
  background-color: #66bfbf;
}

.btn:active {
  position: relative;
  top: 1px;
}

/* This button was generated using CSSButtonGenerator.com */
